Size of training set: **10683 records**

Size of test set: **2671 records**

#### FEATURES:

Airline: The name of the airline.

Date_of_Journey: The date of the journey

Source: The source from which the service begins.

Destination: The destination where the service ends.

Route: The route taken by the flight to reach the destination.

Dep_Time: The time when the journey starts from the source.

Arrival_Time: Time of arrival at the destination.

Duration: Total duration of the flight.

Total_Stops: Total stops between the source and destination.

Additional_Info: Additional information about the flight

Price: The price of the ticket

In [1]:
# Imports
# !pip install xlrd
# !pip install openpyxl

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder # OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [2]:
train = pd.read_excel('data/Flight_Ticket_Participant_Datasets/Data_Train.xlsx')
test = pd.read_excel('data/Flight_Ticket_Participant_Datasets/Test_set.xlsx')

train.head(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

#### To do:

- [x] Look at the value counts for levels in each of the categorical features
- [ ] Encode `Airline`
- [x] `Date_of_Journey` to be datetime
- [ ] Encode `Source` and `Destination`
- [x] Split `Route` and find the number of stops (rename to `Total_Stops` and drop the original ?)
- [ ] Calculate time delta from `Duration` (perhaps, drop `Dep_Time` and `Arrival_Time`)
- [ ] Encode `Additional_Info`

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [5]:
# drop missing value obs.
train.dropna(inplace=True)

In [6]:
print(train.shape, test.shape)

(10682, 11) (2671, 10)

In [7]:
combined_dataframe = pd.concat([train.drop(['Price'], axis=1), test], ignore_index=True)
combined_dataframe.shape

(13353, 10)

In [8]:
combined_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13353 entries, 0 to 13352
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13353 non-null  object
 1   Date_of_Journey  13353 non-null  object
 2   Source           13353 non-null  object
 3   Destination      13353 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13353 non-null  object
 6   Arrival_Time     13353 non-null  object
 7   Duration         13353 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13353 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

In [9]:
train_index = range(0, train.shape[0])
test_index = range(train.shape[0], combined_dataframe.shape[0])

price = train['Price']


# print(len(train_index), len(price.values.tolist()))

In [10]:
combined_dataframe['DOJ'] = pd.to_datetime(combined_dataframe['Date_of_Journey'], infer_datetime_format=True)

In [11]:
combined_dataframe.head(4)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,DOJ
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,2019-03-24
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,2019-05-01
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,2019-06-09
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,2019-05-12

In [12]:
combined_dataframe.drop(['Date_of_Journey'], axis=1, inplace=True)
combined_dataframe.rename(columns={"DOJ":"Date_of_Journey"}, inplace=True)

combined_dataframe.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date_of_Journey
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,2019-03-24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,2019-05-01
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,2019-06-09

In [13]:
# OPTION 2: day names instead of dayofweek, and use One Hot.

combined_dataframe['Day_of_Journey'] = combined_dataframe.Date_of_Journey.dt.dayofweek

In [14]:
# Create a new feature `num_stops` from the Route ; by counting the number of stops as seen in the route.
# `Route` and `Total_Stops` may be dropped.

combined_dataframe['Total_Stops_num'] = combined_dataframe['Route'].str.split(' → ', expand=False)
combined_dataframe['Total_Stops_num'] = combined_dataframe['Total_Stops_num'].apply(lambda x: len(x) if isinstance(x, list) else np.nan)

combined_dataframe.head(4)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date_of_Journey,Day_of_Journey,Total_Stops_num
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,2019-03-24,6,2
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,2019-05-01,2,4
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,2019-06-09,6,4
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,2019-05-12,6,3

In [15]:
# `Duration` can be coerced to time in hours.
# `Arrival_Time` and `Dep_Time` may be dropped.

combined_dataframe['Duration_hours'] = combined_dataframe['Duration'].str.split('h', expand=True)[0]

In [16]:
# Little bit of clean up is required for the engineered feature here
combined_dataframe['Duration_hours'] = combined_dataframe['Duration_hours'].str.replace('[a-zA-Z]','').astype('int64')

In [17]:
# Using reindex instead of .loc, because this let's you handle NaNs - although we don't have any right now.

train = combined_dataframe.reindex(train_index)
test = combined_dataframe.reindex(test_index)
test.reset_index(inplace=True, drop=True)

train['Price'] = price.values

print(train.shape, test.shape)

train.head(4)

(10682, 14) (2671, 13)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date_of_Journey,Day_of_Journey,Total_Stops_num,Duration_hours,Price
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,2019-03-24,6,2,2,3897
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,2019-05-01,2,4,7,7662
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,2019-06-09,6,4,19,13882
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,2019-05-12,6,3,5,6218

In [18]:
test.head()

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date_of_Journey,Day_of_Journey,Total_Stops_num,Duration_hours
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,2019-06-06,3,3,10
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,2019-05-12,6,3,4
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,2019-05-21,1,3,23
3,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,2019-05-21,1,3,13
4,Air Asia,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,2019-06-24,0,2,2

In [19]:
# Check if train date range is overlapping with test date range

print("Training date range: {} - {}\t Testing date range: {} - {}".format(
    train['Date_of_Journey'].min(), train['Date_of_Journey'].max(), 
    test['Date_of_Journey'].min(), test['Date_of_Journey'].max())
     )

Training date range: 2019-03-01 00:00:00 - 2019-06-27 00:00:00	 Testing date range: 2019-03-01 00:00:00 - 2019-06-27 00:00:00

#### Observation

- The date range of training set and test set are overlapping (infact, spans the same range!)
    - The problem could be approached as a regression rather than a timeseries
    - Convert the datetime to day of week and encode the levels

#### Value counts

In [20]:
# \033[1m - ANSI for Bold characters
# \033[0m - ANSI to reset formatting for following characters

for col in train.select_dtypes(include=['object']).columns:
    print("\n\033[1m" + col + "\033[0m\n")
    print(train[col].value_counts())

Airline

Jet Airways                          3849
IndiGo                               2053
Air India                            1751
Multiple carriers                    1196
SpiceJet                              818
Vistara                               479
Air Asia                              319
GoAir                                 194
Multiple carriers Premium economy      13
Jet Airways Business                    6
Vistara Premium economy                 3
Trujet                                  1
Name: Airline, dtype: int64

Source

Delhi       4536
Kolkata     2871
Banglore    2197
Mumbai       697
Chennai      381
Name: Source, dtype: int64

Destination

Cochin       4536
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64

Route

DEL → BOM → COK                2376
BLR → DEL                      1552
CCU → BOM → BLR                 979
CCU → BLR                       724
BOM → HYD                       621
                               ...
BOM → UDR → DEL → HYD             1
BOM → JLR → HYD                   1
CCU → RPR → HYD → BLR             1
BLR → HBX → BOM → AMD → DEL       1
CCU → VTZ → BLR                   1
Name: Route, Length: 128, dtype: int64

Dep_Time

18:55    233
17:00    227
07:05    205
10:00    203
07:10    202
        ...
21:40      1
22:25      1
03:00      1
12:45      1
16:25      1
Name: Dep_Time, Length: 222, dtype: int64

Arrival_Time

19:00           423
21:00           360
19:15           333
16:10           154
12:35           122
               ...
01:20 04 Apr      1
00:15 25 Jun      1
02:20 22 Mar      1
00:50 02 Jun      1
12:05 16 Mar      1
Name: Arrival_Time, Length: 1343, dtype: int64

Duration

2h 50m     550
1h 30m     386
2h 55m     337
2h 45m     337
2h 35m     329
          ...
29h 40m      1
36h 25m      1
35h 35m      1
30h 25m      1
4h 10m       1
Name: Duration, Length: 368, dtype: int64

Total_Stops

1 stop      5625
non-stop    3491
2 stops     1520
3 stops       45
4 stops        1
Name: Total_Stops, dtype: int64

Additional_Info

No info                         8344
In-flight meal not included     1982
No check-in baggage included     320
1 Long layover                    19
Change airports                    7
Business class                     4
No Info                            3
1 Short layover                    1
2 Long layover                     1
Red-eye flight                     1
Name: Additional_Info, dtype: int64

In [21]:
for col in train.select_dtypes(include=['object']).columns:
    print("\n\033[1m" + col + "\033[0m\n")
    print(list(set(train[col].unique()) - set(test[col].unique())))

Airline

['Trujet']

Source

[]

Destination

[]

Route

['BOM → BLR → CCU → BBI → HYD', 'BOM → DED → DEL → HYD', 'BOM → CCU → HYD', 'CCU → IXZ → MAA → BLR', 'BLR → LKO → DEL', 'CCU → GAU → IMF → DEL → BLR', 'BOM → BDQ → DEL → HYD', 'BOM → BHO → DEL → HYD', 'BOM → NDC → HYD', 'BLR → HBX → BOM → AMD → DEL', 'BOM → MAA → HYD', 'BLR → TRV → COK → DEL', 'BOM → JDH → JAI → DEL → HYD', 'BOM → COK → MAA → HYD', 'CCU → IXA → BLR', 'BLR → CCU → BBI → HYD → DEL', 'CCU → BOM → PNQ → BLR', 'BLR → HBX → BOM → NAG → DEL', 'BLR → HBX → BOM → BHO → DEL', 'CCU → VTZ → BLR', 'BOM → JLR → HYD', 'BOM → RPR → VTZ → HYD', 'BOM → IDR → DEL → HYD', 'CCU → IXB → DEL → BLR', 'BLR → PNQ → DEL', 'CCU → RPR → HYD → BLR', 'BOM → UDR → DEL → HYD', 'BOM → VNS → DEL → HYD', 'DEL → BBI → COK', 'BOM → BBI → HYD', 'BLR → CCU → BBI → DEL', 'BLR → IDR → DEL']

Dep_Time

['13:40', '21:35', '21:55', '22:25', '12:15', '03:05', '12:05', '21:40', '04:15', '00:20', '12:45', '10:05', '12:20', '01:40', '06:35', '11:05', '15:25', '18:30', '02:05', '08:40', '16:25', '17:20', '03:00', '13:45']

Arrival_Time

['12:15 02 Mar', '02:15 07 May', '04:25 26 May', '02:45 28 Jun', '22:10 25 Mar', '18:30 10 May', '14:35 10 Apr', '02:10 04 Mar', '07:10 07 Jun', '09:45 10 Jun', '11:05 10 Jun', '02:15 10 Jun', '20:45 13 Jun', '02:10 10 Mar', '14:25 02 May', '13:15 07 Jun', '20:20 16 May', '02:20 16 Mar', '10:45 16 May', '01:30 10 Apr', '01:30 07 Apr', '04:25 03 May', '01:00 28 Jun', '07:40 13 Mar', '02:15 19 May', '14:35 10 May', '00:50 22 May', '09:25 13 Mar', '01:20 22 Apr', '00:05 25 Apr', '02:20 04 Apr', '00:40 25 May', '07:10 19 May', '13:20 02 Mar', '01:20 19 Mar', '14:35 16 May', '02:20 07 Jun', '14:35 10 Jun', '00:40 02 Mar', '22:10 16 Mar', '20:20 13 Mar', '14:35 25 May', '00:25 07 May', '19:10 02 May', '02:20 02 May', '00:40 16 Jun', '23:00 04 Apr', '20:20 25 May', '00:40 16 Apr', '00:35 19 Mar', '19:25 07 Mar', '13:20 13 Mar', '18:30 25 May', '00:25 25 Jun', '01:00 04 Apr', '12:00 02 May', '12:25', '01:20 07 Apr', '01:00 19 Apr', '09:25 02 Apr', '02:20 13 Mar', '11:20 16 Mar', '10:55 07 May', '03:35 16 May', '00:10 25 Apr', '01:35 02 Mar', '20:25 16 May', '11:55 13 Mar', '00:50 28 Jun', '11:20 02 Mar', '00:50 13 Apr', '15:20 07 May', '02:45 10 Jun', '00:40 22 May', '00:05 02 Mar', '19:50 13 Jun', '18:50 22 May', '02:45 02 Jun', '18:30 07 Jun', '09:30 07 Mar', '17:20 16 May', '00:05 22 May', '03:35 02 May', '22:40 22 May', '18:50 16 May', '23:15 25 Mar', '01:00 10 Apr', '06:50 28 Apr', '20:25 25 May', '02:45 22 Apr', '06:50 28 May', '08:55 02 Mar', '11:05 22 May', '00:40 16 Mar', '00:45 13 Mar', '20:25 07 May', '03:35 04 Jun', '08:15 28 Mar', '06:50 10 May', '11:20 19 Mar', '01:20 25 Jun', '19:25 13 Mar', '09:35 28 May', '21:05 19 May', '00:20 13 Jun', '07:55 16 May', '07:45 10 Jun', '08:55 13 Mar', '00:50 10 May', '22:55 02 Mar', '18:00 10 May', '00:50 19 May', '07:40 25 Mar', '11:05 13 Mar', '00:20 28 May', '07:55 25 May', '11:05 04 Apr', '03:35 13 Jun', '23:55 02 Mar', '01:10 07 Mar', '09:25 16 May', '08:55 13 Jun', '11:10 02 Mar', '00:40 25 Mar', '08:55 25 Mar', '00:50 25 May', '00:50 25 Apr', '12:05 02 Mar', '02:45 04 Jun', '19:50 07 Jun', '00:50 10 Apr', '00:10 02 Mar', '00:55 10 Mar', '01:00 04 Jun', '01:20 07 Mar', '00:15 19 Apr', '19:50 19 May', '06:50 10 Jun', '23:20 02 Mar', '01:20 25 May', '05:35 19 May', '00:25 25 May', '14:35 07 Jun', '10:05 07 May', '12:15 19 Mar', '23:00 22 Apr', '09:05 10 May', '02:45 22 Jun', '07:45 07 May', '22:35 10 Jun', '02:20 25 Jun', '03:35 07 Jun', '10:55 13 May', '13:10', '00:05 16 Mar', '10:35 07 Mar', '10:55 02 May', '09:25 28 Jun', '02:15 13 Jun', '19:10 19 May', '11:05 02 May', '22:40 25 May', '09:15 02 Mar', '00:25 04 Mar', '10:40 13 Jun', '04:25 17 Jun', '02:20 22 Mar', '04:35 16 May', '01:00 04 May', '14:25', '01:20 02 May', '19:10 07 May', '00:05 04 May', '10:40 16 May', '18:30 02 Apr', '02:45 19 May', '00:25 13 Jun', '19:10 07 Jun', '20:15', '08:50 13 Mar', '01:00 16 Apr', '00:55 25 Mar', '00:30 13 Mar', '18:00 10 Jun', '01:30 04 Apr', '23:25 13 Mar', '00:15 16 Mar', '02:45 13 May', '06:50 07 Mar', '19:00 10 Jun', '01:10 28 Mar', '00:05 10 Jun', '00:40 10 Mar', '02:20 07 Apr', '00:25 16 May', '19:50 13 May', '00:05 19 Apr', '00:05 07 Apr', '02:10 25 Mar', '23:25 02 May', '07:40 02 Mar', '04:25 04 Apr', '20:45 19 May', '03:35 10 Jun', '00:05 10 May', '12:30 16 May', '10:40 13 May', '07:55 22 May', '09:45 02 Apr', '00:15 13 May', '23:00 07 Mar', '02:45 19 Jun', '11:05 19 May', '00:15 28 Mar', '00:05 16 May', '01:00 13 Jun', '19:00 02 May', '12:30 19 May', '00:15 04 Mar', '00:15 22 Mar', '21:05 22 May', '20:20 13 Jun', '00:20 04 Apr', '09:05 02 Apr', '08:50 07 Mar', '00:05 13 Mar', '08:55 13 May', '20:20 07 May', '20:25 25 Mar', '06:50 28 Mar', '00:40 13 Jun', '16:40 13 Mar', '01:10 22 Mar', '08:55 16 Mar', '04:35 22 May', '00:55 28 Mar', '00:15 28 Apr', '09:05 02 May', '11:10 13 Jun', '06:35 25 Jun', '02:20 22 Apr', '01:20 04 Jun', '07:45 25 May', '00:50 07 May', '23:35 10 May', '00:50 28 Apr', '06:50 25 Jun', '14:35 19 May', '07:45 02 May', '02:15 02 Apr', '23:10', '00:50 28 May', '00:35 16 Mar', '02:20 04 Mar', '11:20 07 Mar', '04:25 02 May', '14:35 13 Jun', '06:50 04 Mar', '02:20 19 Jun', '00:05 16 Jun', '19:15 25 Jun', '03:35 10 May', '01:20 13 Apr', '02:20 19 May', '15:00', '11:05 13 May', '00:50 19 Jun', '18:00 13 Jun', '00:15 04 Apr', '04:25 07 May', '22:40 07 Jun', '09:25 13 Jun', '20:20 10 Jun', '10:40 07 Jun', '21:05 13 May', '20:25 13 Jun', '01:20 02 Jun', '08:50 16 Mar', '01:20 22 Jun', '02:20 28 Mar', '10:45 13 Mar', '20:25 10 Jun', '16:30 16 Mar', '09:05 13 May', '17:20 19 May', '02:15 13 May', '19:55 13 Mar', '04:35 10 May', '09:25 25 May', '18:40 16 Mar', '00:25 28 Jun', '22:10 07 Mar', '09:05 07 Jun', '00:40 22 Apr', '00:40 10 Apr', '00:25 22 Jun', '00:40 22 Mar', '00:40 02 Apr', '13:00 02 Mar', '09:30 02 Mar', '23:00 28 Mar', '00:25 25 Mar', '23:00 16 May', '11:05 10 May', '02:20 02 Mar', '00:25 02 Jun', '03:35 28 May', '11:05 16 May', '22:40 07 May', '13:20 19 Mar', '04:35 02 Jun', '00:55 02 Mar', '10:15 13 Mar', '00:50 13 May', '22:35 22 May', '01:45 22 Mar', '01:10 19 Mar', '05:05 13 Mar', '02:20 10 Jun', '18:50 08 Mar', '02:10 13 Mar', '11:05 07 Jun', '23:25 13 Jun', '00:50 02 Jun', '02:45 02 May', '19:10 07 Mar', '07:10', '00:50 07 Jun', '00:25 10 Mar', '00:20 16 May', '07:10 28 Jun', '03:35 28 Jun', '18:20 02 Apr', '18:30 22 May', '00:50 16 Apr', '21:05 07 Jun', '16:15 25 Mar', '13:15 10 May', '10:30 02 Apr', '00:50 22 Jun', '11:05 10 Apr', '00:50 16 May', '21:05 10 Jun', '01:00 16 May', '20:20 19 May', '23:35 07 May', '13:15 19 May', '00:40 04 Mar', '23:25 13 May', '01:00 22 May', '00:15 25 May', '10:45 02 Apr', '02:20 25 Mar', '15:10', '20:20 16 Mar', '22:55 19 Mar', '02:20 04 May', '04:25 26 Jun', '10:40 02 May', '02:20 25 Apr', '07:10 28 Mar', '00:25 19 May', '09:45 13 May', '13:45 10 May', '22:05 10 Jun', '00:45 16 Mar', '08:55 16 May', '15:20 02 Apr', '18:15 25 May', '00:20 04 Mar', '11:10 19 May', '01:20 10 Mar', '02:45 07 Jun', '09:45 22 May', '19:15 02 Mar', '01:20 28 Mar', '01:10 02 Mar', '04:35 07 Jun', '10:40 22 May', '19:15 19 May', '13:05', '01:30 25 Apr', '04:35 28 May', '23:25 22 May', '07:10 10 Apr', '12:00 10 Jun', '13:15 13 May', '08:50 19 Mar', '12:00 07 Jun', '02:20 28 Jun', '00:50 10 Jun', '07:45 07 Jun', '10:45 22 May', '08:55 07 Mar', '04:25 25 May', '00:40 04 Jun', '10:45 13 Jun', '02:45 22 May', '18:25 13 Mar', '08:15 10 Apr', '18:30 07 May', '00:45 03 Mar', '13:45 22 May', '09:20 13 Jun', '04:35 19 May', '08:55 07 May', '00:10 28 Mar', '09:00 19 Mar', '14:35 02 May', '09:25 19 May', '02:20 19 Apr', '00:40 07 Jun', '11:35 16 Mar', '19:20', '09:25 22 Mar', '19:10 02 Mar', '11:10 07 Mar', '18:30 13 May', '10:05 25 Mar', '01:00 19 Jun', '04:45', '22:55 16 Mar', '12:00 07 May', '00:40 28 Apr', '00:25 13 May', '02:20 22 Jun', '00:55 07 Mar', '10:05 13 May', '01:10 16 Mar', '07:10 07 Mar', '07:25 07 Jun', '00:55 04 Mar', '00:55 19 Mar', '01:10 13 Mar', '01:20 28 Jun', '03:35 22 May', '02:45 07 Apr', '04:25 23 May', '01:20 16 Mar', '23:15 02 Apr', '00:05 25 Jun', '00:45 19 Mar', '06:50 28 Jun', '16:15 13 May', '02:45 04 Apr', '00:50 04 May', '20:20 02 May', '18:00 07 Jun', '02:20 16 Apr', '21:05 07 May', '14:35 25 Mar', '22:05 02 Apr', '12:35 04 Apr', '07:10 02 Jun', '16:20 02 Apr', '06:35 04 Jun', '18:40 02 Mar', '06:50 10 Mar', '01:20 22 Mar', '00:25 28 Mar', '01:00 07 May', '10:55 02 Apr', '03:35 02 Jun', '00:15 16 Jun', '09:25 02 May', '00:25 22 May', '12:30 25 May', '22:05 02 May', '18:10 25 Mar', '13:45 25 May', '12:30 07 Jun', '11:15', '12:30 25 Mar', '23:20 16 Mar', '01:00 25 Apr', '10:00 25 Mar', '16:15 16 May', '02:15 07 Jun', '07:45 10 May', '22:35 19 May', '00:50 16 Jun', '00:10 22 Mar', '00:25 07 Mar', '12:35 02 May', '07:45 16 May', '19:50 22 May', '09:25 10 Apr', '01:20 04 Apr', '02:45 16 Apr', '23:25 25 May', '00:25 10 May', '08:45 07 Mar', '22:35 13 Jun', '01:00 28 May', '01:00 25 May', '00:55 22 Mar', '08:15 07 May', '03:40 13 Mar', '21:20 02 Mar', '20:45 10 Jun', '00:55 16 Mar', '02:45 28 May', '08:50 02 Mar', '07:40 10 Apr', '11:05 25 Mar', '23:25 16 Mar', '13:45 19 May', '09:45 19 May', '12:35 07 Jun', '02:20 07 May', '11:10 22 May', '01:10 25 Mar', '09:25 22 May', '01:20 19 Jun', '09:50 02 Apr', '00:10 10 Apr', '23:20 19 Mar', '16:20 13 Mar', '13:45 02 May', '19:15 25 May', '18:15 10 May', '00:15 22 Apr', '00:50 02 May', '02:15 22 May', '12:30 13 May', '00:25 04 Jun', '11:10 02 May', '02:15 10 May', '09:45 07 Jun', '01:20 28 May', '23:15 13 May', '02:15 16 May', '00:50 07 Apr', '18:30 13 Jun', '00:10 19 Mar', '21:05 02 May', '23:00 02 Mar', '10:45 10 Jun', '20:20 02 Mar', '21:05 10 May', '02:20 28 Apr', '16:20 16 May', '00:50 25 Jun', '14:25 16 May', '13:20 16 Mar', '07:10 10 May', '00:25 19 Mar', '22:35 25 May', '00:40 07 Mar', '02:20 04 Jun', '20:20 22 May', '02:20 10 May', '01:20 28 Apr', '01:00 19 May', '00:10 25 Mar', '00:40 19 Apr', '07:55 10 May', '10:50 19 Mar', '05:25 10 May', '09:35 04 Jun', '02:10 02 Mar', '02:45 04 May', '22:55 02 Apr', '16:00', '01:00 13 May', '02:20 13 Apr', '00:20 10 Jun', '03:10', '02:20 13 May', '00:05 28 Mar', '09:45 13 Jun', '12:30 10 Jun', '20:10', '10:55 10 May', '01:20 19 Apr', '02:45 10 Apr', '00:20 22 Jun', '07:10 28 Apr', '10:45 02 May', '00:10 10 Mar', '00:50 22 Apr', '23:25 10 Jun', '09:25 07 May', '03:35 10 Apr', '08:55 02 Apr', '11:05 07 Apr', '04:35 13 Jun', '00:05 07 Jun', '01:10 10 Mar', '00:15 10 Mar', '04:25 11 May', '18:50 25 May', '16:20 22 May', '00:15 10 Apr', '19:50 02 Apr', '00:15 25 Mar', '08:55 07 Jun', '05:25 22 May', '07:55 07 May', '02:10 07 Mar', '10:55 16 May', '23:25 19 May', '01:20 16 May', '23:25 02 Apr', '02:20 13 Jun', '02:10 28 Mar', '09:20 07 Jun', '18:50 10 Jun', '06:50 22 May', '03:35 28 Apr', '23:00 13 Jun', '02:45 07 May', '14:25 19 May', '07:10 10 Mar', '18:50 02 Apr', '00:15 16 May', '21:20 07 Mar', '00:25 19 Jun', '00:10 16 Mar', '07:25 22 May', '09:10 25 Mar', '00:15 13 Mar', '16:15 02 May', '00:20 13 May', '02:15 25 May', '02:20 10 Mar', '11:20 13 Mar', '00:15 19 Jun', '01:45 10 Mar', '23:35 13 Jun', '04:35 16 Jun', '13:00 19 Mar', '02:20 10 Apr', '10:40 10 May', '06:50 07 Jun', '00:40 07 Apr', '00:40 02 Jun', '23:00 19 May', '00:05 28 May', '12:35 07 May', '03:35 16 Jun', '00:35 07 Mar', '07:55 13 Jun', '01:20 13 Mar', '00:25 04 May', '00:35 02 Mar', '01:30 02 Apr', '19:10 16 May', '21:05 25 Mar', '00:40 28 Mar', '14:35 13 May', '18:00 02 Apr', '02:20 16 Jun', '16:20 19 May', '10:00 07 May', '23:35 25 May', '00:50 04 Jun', '00:25 07 Jun', '07:40 16 May', '23:05', '22:40 16 May', '18:50 07 Jun', '11:25 19 Mar', '18:00 22 May', '01:00 07 Apr', '02:20 25 May', '06:50 02 Jun', '00:20 19 Mar', '19:50 25 May', '00:25 10 Jun', '04:35 28 Jun', '22:40 13 Jun', '00:15 13 Apr', '06:50 16 May', '12:35 02 Apr', '02:45 16 May', '19:00 25 May', '00:25 16 Jun', '07:55 02 May', '10:25 02 Mar', '00:15 28 May', '00:25 28 May', '01:00 28 Apr', '18:30 19 May', '04:35 04 Jun', '00:40 22 Jun', '02:10 22 Mar', '12:30 02 May', '01:00 10 Jun', '23:00 22 Mar', '10:40 10 Jun', '12:35 02 Jun', '07:45 19 May', '23:35 19 May', '02:45 19 Apr', '04:35 25 Jun', '09:05 13 Jun', '00:05 10 Apr', '13:15 10 Jun', '13:15 22 May', '10:05 10 Jun', '18:45 25 Mar', '02:20 02 Jun', '23:20 13 Mar', '23:00 10 Mar', '02:20 28 May', '13:00 16 Mar', '12:25 07 Mar', '01:20 16 Jun', '23:35 02 May', '01:00 02 Jun', '00:40 25 Apr', '20:20 02 Apr', '02:45 25 May', '07:10 16 May', '00:15 02 Mar', '09:20 19 May', '01:00 02 May', '04:25 10 Apr', '07:10 22 Mar', '10:40 02 Apr', '18:00 07 May', '07:10 16 Jun', '12:35 07 Apr', '19:15 02 May', '11:10 13 May', '21:15', '22:55 25 Mar', '02:45 13 Apr', '05:35 22 May', '07:55 10 Jun', '00:15 16 Apr', '02:45 28 Apr', '18:50 19 May', '18:30 10 Jun', '02:45 13 Jun', '23:25 07 Jun', '13:40 25 Mar', '08:55 19 Mar', '20:25 02 Apr', '14:25 13 May', '14:35 22 May', '03:35 25 Jun', '01:00 22 Jun', '23:25 25 Mar', '00:05 07 Mar', '12:05 16 Mar']

Duration

['20h 5m', '28h 30m', '30h 55m', '26h 45m', '3h 25m', '31h 50m', '47h', '20h 40m', '35h 5m', '41h 20m', '17h 50m', '3h 50m', '42h 45m', '13h 40m', '18h 15m', '36h 10m', '31h 40m', '35h 20m', '19h 20m', '17h 10m', '14h 15m', '31h 30m', '4h 15m', '21h 50m', '32h 30m', '3h 55m', '18h 35m', '34h 5m', '19h 50m', '25h 15m', '32h 55m', '19h 35m', '34h', '21h 30m', '29h 50m', '28h 25m', '20h 50m', '22h 35m', '42h 5m', '29h 30m', '18h 55m', '40h 20m', '21h', '47h 40m', '29h 10m', '3h 35m', '27h 25m', '35h 15m', '30h 15m', '37h 10m', '23h 25m', '30h 10m', '34h 25m', '37h 25m']

Total_Stops

[]

Additional_Info

['Red-eye flight', 'No Info', '2 Long layover', '1 Short layover']

In [22]:
# Among the categorical attributes, only `Airline` and `Additional_Info` are of use
# To verify above code manually.

for col in ['Airline', 'Additional_Info']:
    print("\n\033[1m" + col + "\033[0m\n")
    print(train[col].unique().tolist())
    print("\n")
    print(test[col].unique().tolist())

Airline

['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet', 'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia', 'Vistara Premium economy', 'Jet Airways Business', 'Multiple carriers Premium economy', 'Trujet']


['Jet Airways', 'IndiGo', 'Multiple carriers', 'Air Asia', 'Air India', 'Vistara', 'SpiceJet', 'Vistara Premium economy', 'GoAir', 'Multiple carriers Premium economy', 'Jet Airways Business']

Additional_Info

['No info', 'In-flight meal not included', 'No check-in baggage included', '1 Short layover', 'No Info', '1 Long layover', 'Change airports', 'Business class', 'Red-eye flight', '2 Long layover']


['No info', 'In-flight meal not included', 'No check-in baggage included', '1 Long layover', 'Business class', 'Change airports']

#### Observations

- `Airline`: Trujet is present only in train and not in the test set
- `Additional_Info`: Few of the levels are not present in the test set

Therefore, **OneHotEncoding** doesn't seem to be a good fit here.

- Below attributes,
    - `Day_of_Journey`, `Source`, `Destination` may be **OneHot** encoded (manually verified the unique occurences in train/test)

In [23]:
X = train.drop(['Price'], axis=1).copy()
y = train['Price'].copy()

In [24]:
print(X.shape, y.shape)

(10682, 13) (10682,)

In [25]:
X_test = test.copy()

In [26]:
# Drop irrelevant attributes

X.drop(['Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Date_of_Journey'], inplace=True, axis=1)
X.rename({"Total_Stops_num":"Total_Stops", "Duration_hours":"Duration"}, inplace=True)

X.head()

,Airline,Source,Destination,Additional_Info,Day_of_Journey,Total_Stops_num,Duration_hours
0,IndiGo,Banglore,New Delhi,No info,6,2,2
1,Air India,Kolkata,Banglore,No info,2,4,7
2,Jet Airways,Delhi,Cochin,No info,6,4,19
3,IndiGo,Kolkata,Banglore,No info,6,3,5
4,IndiGo,Banglore,New Delhi,No info,4,3,4

In [27]:
X_test.drop(['Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Date_of_Journey'], inplace=True, axis=1)
X_test.rename({"Total_Stops_num":"Total_Stops", "Duration_hours":"Duration"}, inplace=True)

X_test.head()

,Airline,Source,Destination,Additional_Info,Day_of_Journey,Total_Stops_num,Duration_hours
0,Jet Airways,Delhi,Cochin,No info,3,3,10
1,IndiGo,Kolkata,Banglore,No info,6,3,4
2,Jet Airways,Delhi,Cochin,In-flight meal not included,1,3,23
3,Multiple carriers,Delhi,Cochin,No info,1,3,13
4,Air Asia,Banglore,Delhi,No info,0,2,2

In [28]:
encoder = LabelEncoder()

In [29]:
for col in ['Airline', 'Source', 'Destination', 'Additional_Info']:
    encoder.fit(combined_dataframe[col])
    X[col] = encoder.transform(X[col])
    X_test[col] = encoder.transform(X_test[col])

In [30]:
X.head()

,Airline,Source,Destination,Additional_Info,Day_of_Journey,Total_Stops_num,Duration_hours
0,3,0,5,8,6,2,2
1,1,3,0,8,2,4,7
2,4,2,1,8,6,4,19
3,3,3,0,8,6,3,5
4,3,0,5,8,4,3,4

In [31]:
X_test.head()

,Airline,Source,Destination,Additional_Info,Day_of_Journey,Total_Stops_num,Duration_hours
0,4,2,1,8,3,3,10
1,3,3,0,8,6,3,4
2,4,2,1,5,1,3,23
3,6,2,1,8,1,3,13
4,0,0,2,8,0,2,2

In [32]:
# scaler = MinMaxScaler()

# X_train_scaled = pd.DataFrame(scaler.fit_transform(X))
# X_test_scaled = pd.DataFrame(scaler.fit_transform(X_test))

# X_train_scaled.columns = X.columns.copy()
# X_test_scaled.columns = X_test.columns.copy()

In [34]:
param_grid = {"svr":{'kernel':['linear', 'rbf'], 'C':[0.1, 0.5, 1.0, 5.0, 10.0]},\
              "rf":{'n_estimators':[100,200,300,400], 'max_depth':[2]},\
             "xgb":{'n_estimators':[100,200,300,400,500], 'max_depth':[2,3], 'learning_rate':[0.05,0.1]}}

gridsearch = GridSearchCV(GradientBoostingRegressor(), param_grid=param_grid['xgb'], scoring='neg_root_mean_squared_error', n_jobs=-1, verbose=2)

In [35]:
gridsearch.fit(X, y)

Fitting 5 folds for each of 20 candidates, totalling 100 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   39.8s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:  1.2min finished

GridSearchCV(cv=None, error_score=nan,
             estimator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.1,
                                                 loss='ls', max_depth=3,
                                                 max_features=None,
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100,
                                                 n_ite...one,
                                                 presort='deprecated',
                                                 random_state=None,
                                                 subsample=1.0, tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
             iid='deprecated', n_jobs=-1,
             param_grid={'learning_rate': [0.05, 0.1], 'max_depth': [2, 3],
                         'n_estimators': [100, 200, 300, 400, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_root_mean_squared_error', verbose=2)

In [36]:
y_pred = gridsearch.predict(X)

In [37]:
rmse = mean_squared_error(y, y_pred, squared=False)
print(rmse)

2148.6136775335217

In [38]:
y_pred = gridsearch.predict(X_test)

In [39]:
pd.DataFrame(y_pred, columns=['Price']).to_excel('data/Flight_Ticket_Participant_Datasets/Submission.xlsx', index=False)